In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
sub = pd.read_csv("sample_submission.csv")

train.shape, test.shape, sub.shape

((891, 12), (418, 11), (418, 2))

In [3]:
test.dtypes.index

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0-cp38-cp38-macosx_10_13_x86_64.whl (7.9 MB)
     |████████████████████████████████| 7.9 MB 15.3 MB/s eta 0:00:01
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 76.3 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.1.0 in /Users/jin/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.14.6 in /Users/jin/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.5)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=325ec891c6f3a3a50a0cfd0ae299cf73cf3ebf62cf53f6174374ae9c21e97550
  Stored in directory: /Users/jin/Library/Caches/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.0.1 scikit-learn-1.0 sklearn-0.0 threadpoolctl-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from sklearn.linear_model import LogisticRegression

In [9]:
sel = ['Pclass','SibSp','Parch']

X_train = train[sel]
y_train = train['Survived']
X_test = test[sel]

In [10]:
model = LogisticRegression()

In [11]:
model.fit(X_train, y_train)

LogisticRegression()

In [12]:
pred = model.predict(X_test)

In [13]:
pred[:15]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1])

In [14]:
sub.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [15]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
sub.shape, test.shape

((418, 2), (418, 11))

In [19]:
sub['Survived']=pred
sub.to_csv("first_submit.csv", index=False)

두번째학습

In [20]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
sub = pd.read_csv("sample_submission.csv")

train.shape, test.shape, sub.shape

((891, 12), (418, 11), (418, 2))

In [21]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
for col1 in train.columns:
    print(col1)
    print(train[col1].head())
    print()

PassengerId
0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

Survived
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Pclass
0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

Sex
0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

SibSp
0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Parch
0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
Name: Ticket, dtype: object

Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

Embarked
0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object